.*.cmd
*.mod
*.mod.*
*.ko
.clangd
!/.clangd
.cache/
*.o.d
*.bkp
*.o
*.gz
compile_commands.json
compile_commands.json.in
Module.symvers
modules.order
nvim-linux64.tar.gz.1

stage/bzImage-*
build/
*.pdf
modules/lab-*/delta.c

__pycache__/
*.py[cod]

package.json
package-lock.json

,d

